body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header#chakra-modal--header-drawerContainer {
  margin-top: 50px;
}
.photoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.photoBox{
  align-self: center;
}
.photoThumbnail{
  margin: 0.5rem;
}